{% assign nhosGnome64 = site.data.iso | where: 'flavour', 'gnome' | where: 'arch', 'amd64' | sort: 'date' | reverse %}
{% assign nhosGnome32 = site.data.iso | where: 'flavour', 'gnome' | where: 'arch', 'i386' | sort: 'date' | reverse %}

<h3>NHoS Stable</h3>

<table>
<colgroup>
  <col />
  <col />
</colgroup>

<tbody align="left">
{% for iso in nhosGnome32 limit:1 %}
<tr>
  <td markdown="span">
  <span class="button">
    <a onclick="ga('send', 'event', 'Downloads', 'Click', 'ISO32', '0');" href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}">
      Download 32bit ISO
    </a>
  </span>
  </td>
  <td>
    <span>Built: {{ iso.date | date: '%d %b %Y' }}<br/>
      Checksums: <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.md5sum.txt">MD5</a> <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.sha1sum.txt">SHA1</a> <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.sha256sum.txt">SHA256</a></span>
  </td>
{% endfor %}
</tr>
<tr>
{% for iso in nhosGnome64 limit:1 %}
  <td markdown="span">
  <span class="button">
    <a onclick="ga('send', 'event', 'Downloads', 'Click', 'ISO64', '0');" href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}">
      Download 64bit ISO
    </a>
  </span>
  </td>
  <td>
    <span>Built: {{ iso.date | date: '%d %b %Y' }}<br/>
      Checksums: <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.md5sum.txt">MD5</a> <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.sha1sum.txt">SHA1</a> <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.sha256sum.txt">SHA256</a></span>
  </td>
</tr>
{% endfor %}

</tbody>
</table>
