{% assign nhosMateDev = site.data.iso | where: 'flavour', 'mate-dev' %}
{% assign nhosMateDev64 = site.data.iso | where: 'flavour', 'mate-dev' | where: 'arch', 'amd64' | sort: 'date' | reverse %}
{% assign nhosMateDev32 = site.data.iso | where: 'flavour', 'mate-dev' | where: 'arch', 'i386' | sort: 'date' | reverse %}

{% if nhosMateDev.size > 0 %}

<h3>NHoS Mate Dev builds</h3>

<table>
<colgroup>
  <col />
  <col />
</colgroup>

<tbody align="left">
{% for iso in nhosMateDev32 limit:1 %}
<tr>
  <td markdown="span">
  <span class="button">
    <a onclick="ga('send', 'event', 'Downloads', 'Click', 'ISO32', '0');" href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}">
      Download 32bit ISO
    </a>
  </span>
  </td>
  <td>
    <span>Built: {{ iso.date | date: '%d %b %Y' }}<br/>
      Checksums: <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.md5sum.txt">MD5</a> <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.sha1sum.txt">SHA1</a> <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.sha256sum.txt">SHA256</a></span>
  </td>
{% endfor %}
</tr>
<tr>
{% for iso in nhosMateDev64 limit:1 %}
  <td markdown="span">
  <span class="button">
    <a onclick="ga('send', 'event', 'Downloads', 'Click', 'ISO64', '0');" href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}">
      Download 64bit ISO
    </a>
  </span>
  </td>
  <td>
    <span>Built: {{ iso.date | date: '%d %b %Y' }}<br/>
      Checksums: <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.md5sum.txt">MD5</a> <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.sha1sum.txt">SHA1</a> <a href="{{ site.url }}/ISO/{{ iso.arch }}/{{ iso.filename }}.sha256sum.txt">SHA256</a></span>
  </td>

{% endfor %}

</tbody>
</table>
{% endif %}
