/* Coolors Exported Palette - coolors.co/13293d-0b4f6c-2a628f-3e92cc-1cacea */

/* HSL */
$color1: hsla(209%, 53%, 16%, 1);
$color2: hsla(198%, 82%, 23%, 1);
$color3: hsla(207%, 55%, 36%, 1);
$color4: hsla(205%, 58%, 52%, 1);
$color5: hsla(198%, 83%, 51%, 1);

/* RGB */
$color1: rgba(19, 41, 61, 1);
$color2: rgba(11, 79, 108, 1);
$color3: rgba(42, 98, 143, 1);
$color4: rgba(62, 146, 204, 1);
$color5: rgba(28, 172, 234, 1);
